html {
    height: 100%;
}
body {
    height: 100%;
    background: #ee0c4f;
    text-align: center; 
    color: white; 
    font-family: Trebuchet MS;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo {
    width: 300px;
    max-width: 90%;
    margin-top: auto;
    align-self: center;
    padding-top: 15px;
}
a {
    color: white;
    text-decoration: none;
}
.phone a {
    padding-left: 52px;
    background: url(call.svg) left no-repeat;
    font-size: 52px;
    margin-right: 40px;
}
.inst a {
    padding-left: 52px;
    background: url(insta.svg) left no-repeat;
    font-size: 52px;
    margin-right: 40px;
}
.wa a {
    padding-left: 52px;
    background: url(wa.svg) left no-repeat;
    font-size: 52px;
}
.copyright {
    margin-top: auto;
    padding-top: 30px;
    margin-bottom: 15px;
    line-height: 30px;
    font-size: 15px;
}