html {
    height: 100%;
}
body {
    height: 100%;
    background: #ee0c4f;
    text-align: center; 
    color: white; 
    font-family: Trebuchet MS;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.logo {
    width: 290px;
    max-width: 90%;
    margin-top: 50px;
    align-self: center;
}
a {
    color: white;
    text-decoration: none;
}
.phone a {
    padding-left: 52px;
    background: url(call.svg) left no-repeat;
    font-size: 52px;
    margin-right: 40px;
}
.inst a {
    padding-left: 52px;
    background: url(insta.svg) left no-repeat;
    font-size: 52px;
    margin-right: 40px;
}
.wa a {
    padding-left: 52px;
    background: url(wa.svg) left no-repeat;
    font-size: 52px;
}
.copyright {
    margin-top: auto;
    padding-top: 30px;
    margin-bottom: 15px;
    line-height: 30px;
    font-size: 15px;
}


.timer {
    align-self: center;
    border: 1px solid white;
    padding: 10px;
    border-radius: 11px;
}
.timer__items {
    display: flex;
    font-size: 40px;
}
.timer__item {
    position: relative;
    min-width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    text-align: center;
}
.timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 14px;
}
.timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -15px;
}